<ion-header>
	<ion-navbar hideBackButton>
		<ion-buttons left>
			<button ion-button navPop icon-only (click)="backToUniversityList()">
				<ion-icon name="arrow-back"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title *ngIf="!majors">Agrade</ion-title>
		<ion-title *ngIf="majors">{{university.shortName}} - Cursos</ion-title>
		<ion-buttons right>
			<button ion-button icon-only (click)="goToUniversityDetails()">
				<ion-icon name="information-circle"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<button
				ion-item
				*ngFor="let major of majors"
				(click)="majorSelected(major)">
			<strong>
				{{major.shortName}}
			</strong>
			<div>
				{{major.name}}
			</div>
		</button>
		<ion-item
				text-wrap
				text-center
				*ngIf="majors && majors.length === 0">
			<div>
				Nenhum curso cadastrado para <strong>{{university.name}}</strong>!
			</div>
			<br />
			<div>
				Tente outra universidade ou contate os desenvolvedores:
				<a
						target="_blank"
						[innerHtml]="'0tho'"
						href="mailto:marcelolopeslotufo@gmail.com?Subject={{university.name}} sem cursos cadastrados no Agrade">
				</a>
				ou
				<a
						target="_blank"
						[innerHtml]="'MuriloDAG'"
						href="mailto:dag.murilo@gmail.com?Subject={{university.name}} sem cursos cadastrados no Agrade">
				</a>.
			</div>
		</ion-item>
	</ion-list>

	<div text-center>
		<ion-spinner *ngIf="!majors" name="bubbles"></ion-spinner>
	</div>
</ion-content>
