<ion-header>
	<ion-navbar hideBackButton>
		<ion-buttons left>
			<button ion-button navPop icon-only (click)="backToMajorList()">
				<ion-icon name="arrow-back"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Matérias</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<button
				ion-item
				*ngFor="let unit of units"
				(click)="unitSelected(unit)">
			<strong>
				{{unit.name}}
			</strong>
			<div>
				{{unit.period}}
			</div>
		</button>
		<ion-item
				text-wrap
				text-center
				*ngIf="units && units.length === 0">
			<div>
				Nenhuma matéria cadastrada para <strong>{{this.selectedMajor.name}}</strong> na <strong>{{this.selectedUni.name}}</strong>!
			</div>
			<br />
			<div>
				Tente outro curso ou contate os desenvolvedores:
				<a
						target="_blank"
						[innerHtml]="'0tho'"
						href="mailto:marcelolopeslotufo@gmail.com?Subject={{this.selectedMajor.name}} na {{this.selectedUni.name}} sem matérias cadastradas no Agrade">
				</a>
				ou
				<a
						target="_blank"
						[innerHtml]="'MuriloDAG'"
						href="mailto:dag.murilo@gmail.com?Subject={{this.selectedMajor.name}} na {{this.selectedUni.name}} sem matérias cadastradas no Agrade">
				</a>.
			</div>
		</ion-item>
	</ion-list>

	<div text-center>
		<ion-spinner *ngIf="!units" name="bubbles"></ion-spinner>
	</div>
</ion-content>
