<ion-header>
	<ion-navbar hideBackButton>
		<ion-buttons left>
			<button ion-button navPop icon-only (click)="backToMajorList()">
				<ion-icon name="arrow-back"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title *ngIf="!modules">Agrade</ion-title>
		<ion-title *ngIf="modules">{{major.shortName}} - Matérias</ion-title>
		<ion-buttons right>
			<button ion-button icon-only (click)="goToMajorDetails()">
				<ion-icon name="information-circle"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<button
				ion-item
				*ngFor="let module of modules"
				(click)="moduleClicked(module)"
				ng-model="module.checked">
			<ion-label>
				{{ module.name }}
			</ion-label>
			<ion-icon
					item-right
					name="information-circle"
					(click)="infoClicked(module, $event)">
			</ion-icon>
		</button>
		<ion-item
				text-wrap
				text-center
				*ngIf="modules && modules.length === 0">
			<div>
				Nenhuma matéria cadastrada para <strong>{{major.name}}</strong> na <strong>{{university.name}}</strong>!
			</div>
			<br />
			<div>
				Tente outro curso ou contate os desenvolvedores:
				<a
						target="_blank"
						[innerHtml]="'0tho'"
						href="mailto:marcelolopeslotufo@gmail.com?Subject={{major.name}} na {{university.name}} sem matérias cadastradas no Agrade">
				</a>
				ou
				<a
						target="_blank"
						[innerHtml]="'MuriloDAG'"
						href="mailto:dag.murilo@gmail.com?Subject={{major.name}} na {{university.name}} sem matérias cadastradas no Agrade">
				</a>.
			</div>
		</ion-item>
	</ion-list>
</ion-content>
