@import '~@angular/material/core/theming/all-theme';

// NOTE: Theming is currently experimental and not yet publically released!

@include md-core();

$primary: md-palette($md-deep-purple);

$accent:  md-palette($md-amber, A200, A100, A400);

$theme: md-light-theme($primary, $accent, $primary);

@include angular-material-theme($theme);

university-list .selected-university {
	background-color: md-color($primary);
}
